.testedit{
    color: yellow;
}

.text-muted{
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 8px !important;
}

small {
    color: white;
}

.special{
    font-size: 30px;
}


.margintop{
margin-top: 25px;
}