.testedit{
    color: yellow;
}

.text-muted{
    color: rgba(255, 255, 255, 0.767) !important;
    font-size: 10px !important;
    font-weight:700;
}

small {
    color: white;
}

.special{
    font-size: 30px;
}


.margintop{
margin-top: 25px;
}


.row_footer{
    display:flex;
    justify-content: space-around;
    padding-bottom: 10px;
    
}

.container_footer {
    color:white !important;
}


.row_footertop{
    display: flex;
    justify-content: space-around;
}