<h1>Your dashboard</h1>

<div id="app" class="container">
  <nav class="booking navbar navbar-toggleable-md navbar-light bg-faded">
    <!-- <ul class="mr-auto"></ul> -->
    <ul class="booking navbar-nav flex-row">
      <li class="booking nav-item active mx-3">
        <a id = "bookings" class="booking nav-link" href="">Bookings <span class="sr-only">(current)</span></a>
      </li>
      <li class="booking nav-item">
        <a id = "mystuff" class="booking nav-link" href="">My party stuff</a>
      </li>
    </ul>
  </nav>
</div>

<div class="bookings">
  <div class="container d-flex">
    <div class="list col-8">
      <% @my_bookings.each do |booking| %>
        <%= booking.product.title %>
      <% end %>
    </div>
  </div>
</div>
<div class="my-stuff d-none">
  <% @products.each do |product| %>
  <%= product.title %>
  <% end %>
</div>

