<h1>Your dashboard</h1>

<div id="app" class="container">
  <nav class="booking navbar navbar-toggleable-md navbar-light bg-faded">
    <!-- <ul class="mr-auto"></ul> -->
    <ul class="booking navbar-nav flex-row">
      <li class="booking nav-item active mx-3">
        <a id = "bookings" class="booking nav-link" href="">Bookings <span class="sr-only">(current)</span></a>
      </li>
      <li class="booking nav-item">
        <a id = "mystuff" class="booking nav-link" href="">My party stuff</a>
      </li>
    </ul>
  </nav>
</div>

<div class="bookings">
  <p>Voici la liste de tous mes bookings</p>
</div>
<div class="my-stuff d-none">
  <p>Voici la liste de tous les stuffs que je peux louer</p>
</div>

<div class="container d-flex">
  <div class="list col-10">
    <% @bookings.each_with_index do |booking| %>
      <%= render "shared/booking_index_card", booking: booking%>
    <% end %>
  </div>
</div>

<%# /bookings %>
