<h1>Your dashboard</h1>

<div id="app" class="container">
  <nav class="booking navbar navbar-toggleable-md navbar-light bg-faded">
    <!-- <ul class="mr-auto"></ul> -->
    <ul class="booking navbar-nav flex-row">
      <li class="booking nav-item active mx-3">
        <a id = "bookings" class="booking nav-link" href="">Bookings <span class="sr-only">(current)</span></a>
      </li>
      <li class="booking nav-item">
        <a id = "mystuff" class="booking nav-link" href="">My party stuff</a>
      </li>
    </ul>
  </nav>
</div>

<div class="bookings">
  <p>Voici la liste de tous les stuffs les bookings pending</p>
  <div class="container d-flex">
    <div class="list col-10">
      <% @my_own_bookings.each_with_index do |booking| %>
        <%= render "shared/booking_index_card", booking: booking%>
      <% end %>
    </div>
    <!-- <p>Voici la liste de tous les stuffs que j'ai booké</p>
    <div class="list col-10">
      <% @bookings.each_with_index do |booking| %>
        <%= render "shared/booking_index_card", booking: booking%>
      <% end %>
    </div> -->
    </div>
  </div>
</div>
<div class="my-stuff d-none">
  <p>Voici la liste de tous les stuffs que je peux louer</p>
<div class="container d-flex">
  <div class="list col-10">
    <% @products.each_with_index do |p,i| %>
      <%= link_to product_path(p) do %>
        <%= render "shared/index_card", product: p, i: i %>
      <% end %>
    <% end %>
  </div>
</div>
</div>

