<div class="footer m-5 d-flex">
  <div class="footer-links flex-grow-1 mr-4">
    <a href="#"><i class="fab fa-github text-dark"></i></a>
    <a href="#"><i class="fab fa-instagram text-dark"></i></a>
    <a href="#"><i class="fab fa-facebook text-dark"></i></a>
    <a href="#"><i class="fab fa-twitter text-dark"></i></a>
    <a href="#"><i class="fab fa-linkedin text-dark"></i></a>
  </div>
  <div class="footer-copyright flex-grow-1">
    This footer is made with <i class="fas fa-heart"></i> by the FriendsTrip team
  </div>
</div>
