.navbar-lewagon {
  background: white;
  position: sticky;
  top: 0;
  z-index: 99999;
  justify-content: space-between;
  height: $navbar-height;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  align-items: left;
}

.fa-user-astronaut {
  font-size: 30px;
  border: solid 2px black;
  border-radius: 50%;
  padding: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 46px;
  border-radius: 50%;
}

.add-product {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.facette {
  margin: 40px;;
}
