.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f400;
  height: 56px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  align-items: left;
}

.fa-user-astronaut {
  font-size: 30px;
  border: solid 2px black;
  border-radius: 50%;
  padding: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 46px;
  border-radius: 50%;
}

